@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");


@keyframes vanish{
	0%{
		opacity:0;
	}
	50%{
		opacity:0.5;
	}
	100%{
		opacity:1;
	}
}
@keyframes mymove{
	from{
		top:50%;
	}
	to{
		top:25%;
	}
}
a{
	text-decoration:none;
}
*{
	margin:0;
}
p{
	margin-bottom:0;
}
.yellow-text{
	color:#cca876;
}
ul{
	padding:0;
	list-style:none;
	margin:0;
}

.gold-text{
	color:#cca876;
}
.logo img{
	padding:30px 0;
	display:block;
	margin:0 auto;
	float:left;
	width:auto;
}
.nav-bar{
	background-color:#fff;
	text-align:center;
	position:fixed;
	width:100%;
	border-top:0.5px solid #b4b4b4;
	border-bottom:0.5px solid #b4b4b4;
	z-index:999;
}
input[type="checkbox"]{
	display:none;
}
.nav-bar nav{
	float:right;
	width:auto;
	padding:30px 0;
}
.nav-bar nav li{
	float:left;
	margin-right:25px;
}
.nav-bar nav li:last-child{
	margin-right:0;
}
.nav-bar nav li a{
	text-decoration: none;
	color:#000;
	font-family:'Poppins', sans-serif;
	position:relative;
}
.nav-bar nav li a::after{
	content:'';
	height:2px;
	width:0;
	position:absolute;
	background:#cca876;
	top:23px;
	left:0;
	display:block;
}
.nav-bar nav li a:hover::after{
	width:100%;
	transition:0.4s ease-in-out;
}
.nav-bar .current{
	border-bottom:2px solid #cca876;
}
.nav-bar .appoint-btn a:hover::after{
	width:0;
}
.appoint-btn a{
	color:#cca876 !important;
	padding:8px 20px;
	border:2px solid #cca876;
}
.appoint-btn a:hover{
	color:#fff !important;
	background-color:#cca876;
	transition:0.2s ease-in-out;
}
.appoint-btn a:hover{
	width:0;
}
.bottom-bar{
	border-top:1px solid #666c84;
}
.bottom-bar .socio-icons i{
	color:white;
	margin-right:8px;
	padding:7px;
	border-radius:50%;
	font-size:16px;
	box-sizing:border-box;
	background-color:#b4b4b4;
	height: 30px;
    width: 30px;
    text-align: center;
}
.bottom-bar .row{
	padding:10px 0;
}
.bottom-bar .socio-icons i:hover{
	background:#cca876;
	transition:0.5s ease;
}
.bottom-bar .socio-icons{
	float:right;
}
.copyright{
	float:left;
	font-size: 13px;
    font-style: italic;
}
.copyright p{
	color:#fff;
}
input[type="text"]:focus, textarea:focus{
	outline:0;
}
section{
	padding-top:88px;
}
.banner .carousel-caption{
	top:25%;
	text-align:center;
	animation: vanish 1s ease;
	animation: mymove 1.0s ease-in-out;
}
.carousel-item img{
	width:100%;
}
.ban-head{
	font-family: 'PT Serif', serif;
	position:relative;
	text-align:center;
	display:inline-block;
	margin:0 auto;
}
.ban-head::before,
.ban-head::after{
	content:'';
	background:#cca876;
	position:absolute;
	height:2px;
	width:40px;
	top:20px;
}
.ban-head::before{
	left:-45
}
.ban-head::after{
	right:-45px;
}
.ban-main-text{
	font-family:'PT Serif', serif;
	font-weight:900;
	font-size:50px;
}
.ban-main-text + span{
	font-family:'PT Serif', serif;
	font-size:20px;
}
.consult-btn a{
	font-family:'Poppins', sans-serif;
	color:#fff;
	padding:15px;
	border: 2px solid #cca876;
	text-decoration:none;
}
.consult-btn a:hover{
	background:#cca876;
	transition: 0.5s ease-in-out;
}
.consult-btn{
	padding-top:40px;
}


.pageOne .row{
	margin:80px 0;
}
.pageOne .box{
	text-align:center;
	margin:15px 0;
}
.pageOne .box i{
	color:#cca876;
	font-size:35px;
}
.pageOne .box .heading{
	font-family:'PT Serif',serif;
	color:#000;
	font-weight:900;
	padding-top:15px;
}
.divider{
	background:#cca876;
	height:2px;
	width:30px;
	margin:15px auto;
	transition:0.5s ease-in-out;
}
.pageOne .box:hover .divider{
	width:60%;
	transition: 0.2s ease-in-out;
}
.box-text{
	font-family:'Poppins',sans-serif;
	font-size:13px;
	line-height:1.3;
	color:grey;
	width:70%;
	margin:0 auto;
	position: absolute;
    left: 10%;
    right: 10%;
    bottom:22%;
   	transition: 0.4s ease-in-out;

}
.pageOne .box{
	border:1px solid #b4b4b4;
	position:relative;
}

.pageOne .box::before,
.pageOne .box::after{
	content:"";
	height: 50px;
	width: 50px;
	position:absolute;
	display:block;
}
.pageOne .box::after{
	right:-1px;
	bottom:-1px;
	border-right:2px solid #fff;
	border-bottom:2px solid #fff;	
	transition: 1s ease-in-out
}
.pageOne .box::before{
	left:-1px;
	top:-1px;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	transition: 0.5s ease-in-out;
}
.pageOne .box:hover::before{
	border-top:1px solid #cca876;
	border-left:1px solid #cca876;
}
.pageOne .box:hover::after{
	border-bottom:1px solid #cca876;
	border-right:1px solid #cca876;
}
.pageOne .box:hover .box-text{
	bottom:18%;
}
.pageOne .box:hover{
	border:1px solid #cca876;
}

.pageOne .box-content {
    padding: 80px 40px 120px 40px;
}


.pageTwo{
	background:url(images/home-1.jpg);
	background-size:contain;
}
.pageTwo-content{
	background:#2b2f40;
	color:#fff;
}
.pageTwo .heading{
	font-family:'PT-serif',serif;
	font-weight:900;
}
.pageTwo .about-text{
	font-family:'Poppins', sans-serif;
	line-height:1.4;
	font-size:13px;
	width:80%;
	padding-top:20px;
}
.pageTwo .about-us{
	padding-left:10%;
	padding-top: 5%;
	position:relative;
}
.pageTwo .about-us::after,
.pageTwo .about-us::before{
	content:"";
	height: 50px;
	width:50px;
	position:absolute;
	display: block;
}
.pageTwo .about-us::before{
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	top:19px;
	left:19px;
}
.pageTwo .about-us::after{
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	bottom:0;
	right:15px;
}
.pageTwo .about-name{
	position:relative;
	padding-left:25px;
}
.pageTwo .about-name::before{
	position:absolute;
	background:#fff;
	height:3px;
	width:18px;
	content:"";
	top:10px;
	left:0;
}
.about-image img{
	display:table;
	margin:0 auto;
}
.about-image, .about-us{
	margin:70px 0;
}
.pageTwo .consult-btn {
    padding-top: 0px;
    margin: 0 auto;
    display: table;
}
.expert{
	position:relative;
	display:table;
	margin:55px auto;
	text-align:center;
}

.expert-details{
	text-align:center;
	background:#cca876;
	padding-top:8px;
	width:175px;
	bottom:-30px;
	left:40px;
	position:absolute;
}
.expert-name{
	color:#fff;
	font-family: 'PT-serif',serif;
	text-decoration:none;
	font-size:20px;
	transition: 0.5s ease-in-out;
	padding-bottom:5px;
	border-bottom:1px solid #b49465;
	font-weight:900;
}
.expert-name:hover{
	color:#b49465;
	text-decoration: none
}
.expert-proff{
	color:#fff;
	font-family:"Poppins",sans-serif;
	padding-top:5px;
	font-size:13px;
	font-style:italic;
	margin-bottom: 1em;
}

.expert-effect{
	background-color:#000;
	opacity:0.5;
	position:absolute;
	height:300px;
	width:246px;
	top:0;
	bottom:0;
	transform:scale(1,0);
	transition: 0.5s ease-in-out;
	transform-origin: bottom;
}
.expert:hover .expert-effect{
	transform:scale(1,1);
}
.expert-effect-text{
	position:absolute;
	top:125px;
	left:48px;
	font-family:'Poppins',sans-serif;
	color:#fff;
	font-size:13px;
	text-align:center;
	opacity:0;
	transition: 1s ease-in-out;
}
.expert:hover .expert-effect-text{
	opacity:1;
}
.main-number{
	font-family:'Poppins',sans-serif;
	font-size:220px;
	color:grey;
	opacity:0.5;
	margin-top:-80px;
}
.expert-text{
	position:absolute;
	top: 110px;
    left: 27px;
}
.expert-text h1{
	font-family:'PT-serif',serif;
	font-weight:900;
}
.expert-text h1+span{
	font-family:'PT-serif',serif;
	font-style: italic;
	font-size:18px;
}
.pageFour{
	background:url(images/home-3.jpg);
	background-size:cover;
	background-attachment: fixed;
}
.pageFour .box{
	text-align:center;
}
.pageFour .box i{
	font-size:40px;
	color:#cca876;
}
.pageFour .box h1{
	color:#fff;
	font-family:'PT-serif',serif;
	font-weight:900;
	font-size:65px;
	padding-top:10px;
}
.pageFour .box p{
	color:#fff;
	font-size:15px;
	font-family:'Poppins',sans-serif;
	font-style: italic;
}
.pageFour .container{
	margin-top:50px;
}
.pageFour .box{
	margin:50px auto;
}

.pageFive{
	min-height:400px;
}
.pageFive .heading{
	font-family:"PT-serif", serif;
	font-size:50px;
	text-align:center;
	font-weight:bold;
}
.pageFive-content{
	margin:50px 0;
}
.quest-and-ans{
	margin:70px 0;
}
.quest1, .quest2, .quest3, .quest4{
	font-family:'PT-serif',serif;
	font-weight:900;
	font-size:20px;
	cursor:pointer;
	border-bottom:1px solid #b4b4b4;
	padding:15px 0;
	position:relative;
}

.quest1::after,.quest2::after, .quest3::after,.quest4::after{
	
}
.quest1::after, .quest2::after, .quest3::after, .quest4::after, .quest5::after{
	content:"\f067";
	font-family: FontAwesome;
	position:absolute;
	color:#cca876;
	right:10px;
	bottom:10px;
}
.ans1, .ans2, .ans3, .ans4{
	background-color:transparent;
	transform-origin: top;
	transform:scale(1,0);
	transform-origin: top;
	position:absolute;
	width:100%;
	font-family:'Poppins',sans-serif;
	color:grey;
	font-size:12px;
	padding-top:10px;
	line-height: 1.8;
}
.active2{
	transform:scale(1,1);
	position:relative;
	transition:transform 400ms ease-in-out;
	
}
.disable{
	width:0;
	height:0;
}
.active2 ~ .quest1::after{
	display:none;
}

.pageSix img{
	margin:20px auto;
	display:table;
	transition:transform 400ms ease-in-out;
}
.pageSix img:hover{
	transform:scale(1.2,1.2);
}
.pageSeven h1{
	font-family:"PT-Serif",serif;
	font-weight:bold;
	font-size:50px;
	margin:30px 0;
}
.pageSeven input[type="text"]{
	width:100%;
	margin:10px 0;
	padding:7px;
	font-family: 'Poppins',sans-serif;
    font-size: 14px;
    color: #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    border-top: none;
    border-left: none;
    border-right: none;
}
.pageSeven input[type="submit"]{
	border: none;
    background-color: #cca876;
    color: #fff;
    padding: 10px;
    margin: 20px 0 50px 0;
    cursor:pointer;
    transition: 0.5s ease-in-out;
}
.pageSeven input[type="submit"]:hover{
	background:#fff;
	color:#cca876;
	border:1px solid #cca876;
}
.pageSeven img{
	margin:0 auto;
	display: table;
}
.pageSeven-content{
	margin-top:50px;
}

.foot{
	background:#242f40;
}
.foot .box1 p{
	color:#666c84;
	font-family: sans-serif;
	font-size:12px;
	margin-top:10px;
	line-height: 1.9;
    width: 60%;
}
.foot .box1 img{
	margin: 0 0 15px 0;
}
.foot .box1 .consult-effect{
	margin:10px 0;
}
.foot .box1 .consult-effect a{
	color:#fff;
	font-family:"PT-Serif",serif;
	position: relative;
	font-size:16px;
	font-weight: 600;
	transition: 0.5s ease-in-out; 
}
.foot .box1 .consult-effect a:hover{
	color:#cca876;
	text-decoration: none;
}
.foot .box1 .consult-effect a::after{
	content:"\f054";
	color:#cca876;
	position:absolute;
	font-family:FontAwesome;
	top: 0;
    right: -18px;
    font-size: 14px;
    transition: 0.5s ease-in-out;
}
.foot .box1 .consult-effect a:hover::after{
	right:-30px;
}

.foot .quick-links h3, .foot .contact-us h3{
	font-weight: 550;
    color: #fff;
    font-size: 16px;
    margin: 19px 0 28px 0;
}
.foot .quick-links a, .foot .contact-us a{
	display:table;
	color:#fff;
	font-size: 14px;
    margin: 10px 0;
    padding-left: 32px;
    position: relative;
    transition: 0.5s ease-in-out;
}
.foot .quick-links a:hover, .foot .contact-us a:hover{
	color:#cca876;
	text-decoration: none;
}
.foot .quick-links a::before{
	content:"\f054";
	color:#cca876;
	font-size:14px;
	position:absolute;
	font-family: FontAwesome;
	left:0;
	transition: 0.5s ease-in-out;
}
.foot .quick-links a:hover::before{
	left:8px;
}
.foot-call::before, .foot-mail::before, .foot-address::before{
	font-family: FontAwesome;
	position:absolute;
	color:#666c84;
	font-size:20px;
	left:0;
	font-size:19px;
}
.foot-call::before{
	content:"\f095";
}
.foot-mail::before{
	content:'\f0e0';
	font-size:16px;
}
.foot-address::before{
	content:"\f041";
}
.foot .box1{
	margin: 0 auto;
}
.foot .box1, .foot .quick-links, .foot .contact-us{
	margin: 60px 0 100px 0;
}





/*..........................................................About Us..........................................................................*/
/*..........................................................About Us..........................................................................*/
/*..........................................................About Us..........................................................................*/
/*..........................................................About Us..........................................................................*/

.about-us-banner, .services-banner, .contact-banner, .appointment-banner{
	background:url(images/about-us-banner.jpg);
	background-attachment: fixed;
	background-size:cover;
}
.about-us-banner h1, .services-banner h1, .contact-banner h1, .appointment-banner h1 {
	font-family:"PT-Serif",serif;
	font-size:60px;
	font-weight:bold;
	color:#fff;
	font-style:italic;
}
.reflect{
	opacity:0.4;
	font-style:italic;
	margin-left:100px;
}
.about-us-banner-content, .services-banner-content, .contact-banner-content, .appointment-banner-content{
	padding:80px 0;
}
.about-pageOne-content{
	margin:55px 0;
}
.about-pageOne h1{
	font-size: 45px;
    font-family: "PT-Serif",serif;
    font-weight: bold;
    padding-bottom: 18px;
}
.about-pageOne p{
	font-family: "Poppins",sans-serif;
    font-size: 13px;
    width: 75%;
    line-height: 1.8;
}

.about-pageFour .carousel-control-next-icon{
	background-image:url("images/right-arrow.png");
	height:30px;
}
.about-pageFour .carousel-control-prev-icon{
	background-image:url("images/left-arrow.png");
	height:30px;
}

.testimonial-container{
	border:1px solid grey;
	padding:30px;
	color:black;
	text-align:left;
	position: relative;
	width:100%;
	margin:30px auto;
	font-family:"Poppins",sans-serif;

}
.testimonial-container h4{
	font-weight: bold;
	font-size:17px;
}

.testimonial-container p{
	font-size:14px;
}

.about-pageFour h1{
	font-family:"PT-Serif",serif;
	font-size:50px;
	text-align:center;
	font-weight:bold;
}
.about-pageFour .client img{
	border-radius: 50%;
	float:left;
	width:100px;
	margin:25px 0;
}
.about-pageFour .client .info{
	color: black;
    float: left;
    padding: 50px 30px;
}
.testimonial-container::after{
	content:"";
	height:30px;
	width:30px;
	border:1px solid grey;
	position:absolute;
	bottom: -15px;
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
    background-color:white;
}
.about-pageFour .carousel-inner{
	width:70%;
	margin:0 auto;
}
.about-pageFour-content{
	margin:50px 0;
}
/*..........................................................Services..........................................................................*/
/*..........................................................Services..........................................................................*/
/*..........................................................Services..........................................................................*/
/*..........................................................Services..........................................................................*/



.services-pageTwo img{
	width:100%;
    margin: 0 auto;
    display: table;
}
.services-pageTwo .right-pan h1{
	font-family:"PT-Serif",serif;
	font-size:50px;
	font-weight:bold;
}
.services-pageTwo .right-pan p{
	font-family:"Poppins",sans-serif;
	font-size:13px;
	color:#696969;
	padding:20px 0 40px;
	line-height:1.8em;
}
.services-pageTwo .right-pan{
	margin:100px 0;
}
.services-pageTwo .right-pan a{
	padding:12px 30px;
	font-size:15px;
	font-family: "Poppins",sans-serif;
	color:#fff;
	background:#cca876;
	margin:15px 0;
	transition: 0.5s ease-in-out;
}
.services-pageTwo .right-pan a:hover{
	text-decoration: none;
	background-color:#a3865e;
}
.services-pageThree img{
	margin:20px auto;
	display: table;
	opacity:0.4;
	transition: 0.3s ease-in-out;
}
.services-pageThree a:hover img{
	opacity:1;
}
.services-pageThree h1{
	font-family: "PT-Serif",serif;
	font-size:40px;
	font-weight: bold;
}
.services-pageThree p{
	font-family: "Poppins",sans-serif;
	color:#696969;
	font-size:13px;
	margin:20px 0;
}
.jumbotron{
	margin-bottom:0;
}
.services-pageFour{
	background:url(images/background-2.jpg);
	background-size:cover;
	background-attachment: fixed;
	border-top:10px solid #cca876;
}
.services-pageFour h1{
	color:#fff;
	font-family: "PT-Serif",serif;
	text-align:center;
	font-weight: bold;
	font-size: 60px;
	padding:10px 0;
}
.services-pageFour p{
	color:#fff;
	font-family:"Poppins",sans-serif;
	text-align:center;
	width:70%;
	margin:0 auto;
	font-size:14px;
	margin-bottom:40px;
}
.services-pageFour i{
	color:#cca876;
	font-size:40px;
	margin-bottom:5px;
}
.services-pageFour .box p{
	text-align:left;
	width:auto;
}
.services-pageFour .box .sub-head{
	font-family: "PT-Serif",serif;
	color:#fff;
	font-size:20px;
	margin:5px 0;
	font-weight:bold;
}
.services-pageFour .box .main-text{
	font-size:13px;
	color:rgba(255, 255, 255, 0.5);
}
.services-pageFour .box{
	margin:20px 0;
}
.services-pageFour-content{
	padding:60px 0;
}


.services-pageFive{
	background:#cca876;
}
.services-pageFive h1{
	color:#fff;
	font-family: "PT-Serif",serif;
	font-size:35px;
	text-align: center;
	font-weight: bold;
	margin:80px 0;
}
.services-pageFive a{
	color: #fff;
    border: 3px solid #fff;
    padding: 20px 50px;
    margin: 0 auto;
    display: table;
    font-size: 20px;
    transition: 0.5s ease-in-out;
}
.advice-button{
	margin:70px 0;
}
.advice-button a:hover{
	color:#cca876;
	border:3px solid #cca876;
	background-color:#fff;
	text-decoration: none;
}


/*..........................................................Contact Us..........................................................................*/
/*..........................................................Contact Us..........................................................................*/
/*..........................................................Contact Us..........................................................................*/
/*..........................................................Contact Us..........................................................................*/

.contact-pageOne .left-pan h1, .contact-pageOne .right-pan h1{
	font-size:40px;
	font-family: "PT-Serif",serif;
	font-weight: bold;
}
.contact-pageOne .left-pan h3{
	font-size:25px;
	font-family: "PT-Serif",serif;
	font-weight: bold;
}
.contact-pageOne .left-pan p{
	font-size:13px;
	font-family: "Poppins",sans-serif;
	width:80%;
	margin:20px 0;
}
.contact-pageOne .left-pan a:hover{
	color:#000;
	text-decoration: none;
}
.contact-pageOne input[type="text"]{
	width:100%;
	margin:10px 0;
	padding:7px;
	font-family: 'Poppins',sans-serif;
    font-size: 14px;
    color: #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    border-top: none;
    border-left: none;
    border-right: none;
}
.contact-pageOne textarea{
	border: none;
    border-bottom: 1px solid #b4b4b4;
    width: 100%;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    height: 160px;
    color: #b4b4b4;
}
.contact-pageOne input[type="submit"]{
	padding:10px 30px;
	background-color: #cca876;
	font-size:16px;
	margin:20px 0;
	color:#fff;
	border:none;
	cursor:pointer;
}
.contact-pageOne-content{
	margin:60px 0;
}
.map iframe{
	width:100%;
}
/*..........................................................Appointment Us..........................................................................*/
/*..........................................................Appointment Us..........................................................................*/
/*..........................................................Appointment Us..........................................................................*/
/*..........................................................Appointment Us..........................................................................*/
.appointment-pageOne-content h1{
	font-family:"PT-serif",serif;
	font-size:50px;
	font-weight:bold;
}
.appointment-pageOne-content input[type="text"]{
	width:100%;
	border:none;
	border-bottom: 1px solid #b4b4b4;
	font-family:"Poppins",sans-serif;
	color:#b4b4b4;
	margin:20px 0;
	font-size:14px;
}
.appointment-pageOne-content textarea{
	width:100%;
	resize: vertical;
	font-family:"Poppins",sans-serif;
	color:#b4b4b4;
	margin:20px 0;
	border:none;
	border-bottom:1px solid #b4b4b4;
	font-size:14px;
}
.appointment-pageOne-content input[type="submit"]{
	background:#cca876;
	color:#fff;
	padding:7px 30px;
	margin:20px 0;
	border:none;
	cursor:pointer;
}
.appointment-pageOne-content{
	margin:50px 0;
}

/*........................................Responsive CSS*...............................................*/
/*........................................Responsive CSS*...............................................*/
/*........................................Responsive CSS*...............................................*/
/*........................................Responsive CSS*...............................................*/



@media (max-width:1169px){

}  
@media (max-width:1023px){
	.ban-main-text{
		font-size:36px;
	}
	.ban-main-text + span{
		font-size:15px;
	}
	.consult-btn a{
		font-size:13px;
		padding:10px;
	}
	.consult-btn{
		padding-top:25px;
	}
	.banner .carousel-caption{
		top:15%;
	}
	.pageTwo{
		background-size:cover;
	}
	.pageSeven img{
		display: none;
	}
	.reflect {
		display: none
	}
	.nav-bar nav li a{
		font-size:14px;
	}
	.services-pageTwo img{
		display:none;
	}
	.advice-button {
    	margin: 20px 0;
	}
	.services-pageFive h1{
		margin:20px 0;
	}

}
@media (max-width:767px){
	.nav-bar .current{
		border:none;
	}
	.nav-bar nav{
		position:absolute;
		text-align:left;
		top:100%;
		left:0;
		background-color:#fff;
		transform:scale(1,0);
		transform-origin:top;
		width:100%;
		padding-top:5px;
	}
.nav-bar li{
		margin-bottom:5px;
		margin-left:16px;
		width:auto;
		border-bottom:2px solid transparent;
	}

.nav-bar nav a{
		font-family:'Poppins', sans-serif;
		text-decoration:none;
		color:#000;
		padding:0 20px 20px 0;
	}

.nav-bar .nav-toggle-label{
		cursor: pointer;
	}
/*.nav-bar .nav-toggle:checked ~ nav{
	transform:scale(1,1);
	transition:transform 400ms ease-in-out;
}
.nav-bar .nav-toggle:not(:checked) ~ nav{
	transition:transform 400ms ease-in-out;
}*/
.active{
	transform:scale(1,1) !important;
	transition:transform 400ms ease-in-out;
}
.nav-toggle{
	display:none;
}
.nav-toggle-label{
	position:absolute;
	top:0;
	left:0;
	margin-left:16px;
	height:100%;
	display:flex;
	align-items:center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
	display:block;
	background:#cca876;
	height:2px;
	width:32px;
	position:relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after{

	content:'';
	position:absolute;
}
.nav-toggle-label span::before{
	bottom:7px;
}
.nav-toggle-label span::after{
	top:7px;
}
/*.nav-toggle-label:hover span::before{
	bottom:0;
	transition:0.5s ease-in-out;
}
.nav-toggle-label:hover span::after{
	top:0;
	transition:0.5s ease-in-out;
}
*/
.logo img{
	float:none;
}
.nav-bar nav li{
	float:none;
}
.nav-bar nav li a {
	padding-left:10px;
}
.nav-bar nav li:hover{
	color:#fff;
	background-color:#cca876;
	transition: 0.5s ease;
}
.appoint-btn a{
	border:none;
	color:#000 !important;
}
.appoint-btn a:hover{
	background-color:transparent;
}

.socio-icons {
    width: 125px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.search-container {
    position: relative;
    display: table;
    margin: 0 auto;
    float: none;
    margin-top: 10px;
}


.ban-main-text{
	font-size:22px;
}
.ban-main-text+span{
	font-size:10px;
}
.consult-btn a {
    font-size: 10px;
    padding: 5px;
}
.pageSix img{
	margin:20px auto;
}
.bottom-bar .socio-icons, .copyright{
	margin:10px auto;
	display: table;
	float:none;
	}
.foot .box1, .foot .quick-links, .foot .contact-us {
    margin: 40px 0;
	}
	.pageFive img{
		width:70%;
		margin:0 auto;
		display: table;
	}
	.quest1, .quest2, .quest3, .quest4 {
		font-size:17px;
	}
	.about-pageOne p{
		width:100%;
	}
	.services-pageFour p{
		width:100%;
	}
	.services-pageFive a{
		padding:10px 38px;
	}
}
@media (max-width:479px){
	.carousel-item img {
    width:auto;
    height: 250px
	}
	.ban-main-text{
		font-size:20px;
	}
	.ban-main-text+span{
		display:none;
	}
	.consult-btn{
		padding-top:12px;
	}
	.banner .carousel-caption{
		top:25%;
	}
	.box-text {
		bottom:14%;
	}
	.pageFive img {
    width: 70%;
    margin: 0 auto;
    display: table;
	}
	.pageSeve h1{
		font-size:40px;
	}
	.quest1, .quest2, .quest3, .quest4{
		font-size:13px;
	}
	.quest-and-ans {
    	margin: 30px 0;
	}
	.foot .box1, .foot .quick-links, .foot .contact-us {
    	margin: 40px 15px;
	}
	.about-image img {
    	display: none;
    }
    .ban-head{
    	font-size:22px;
    }
    .ban-head::before, .ban-head::after {
	    content: '';
	    background: #cca876;
	    position: absolute;
	    height: 2px;
	    width: 30px;
	    top: 13px;
	}
	.testimonial-container{
		padding:16px;
	}
	.about-pageFour .client img{
		height:90px;
		width:90px;

	}
	.testimonial-container p{
		font-size:12px;
	}
	.appointment-banner h1, .contact-banner h1{
		font-size:45px;
	}
}
